<!DOCTYPE html>
<html>
  <head>
    <title>CsTemplate</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
      <ul class="nav navbar-nav">

        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Create event",new_event_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Your Events", list_events_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Create Venues",  new_venue_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", new_event_path, class: "nav-link" %>
          </li>

        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= login_path %>">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= sign_up_path %>">Sign Up</a>
          </li>
        <% end %>
      </ul>
    </nav>  

    <% if flash.any? %>
      <div style="margin-top: 100px;">
        <%= flash_messages %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
